* {
  box-sizing: inherit;
  background-color: #2f384a;
}
.App {
  text-align: center;
}

.Roles {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 0;
  font-size: 1rem;
  color: #ffffff;
}

.Name {
  margin:0;
  font-size:3rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.App-link {
  color: #09d3ac;
}
