* {
  box-sizing: inherit;
  background-color: #2f384a;
  color: #ffffff
}

.description{
  text-align: left;
}

.App {
  text-align: center;
  padding:70px
}

.right{
  font-weight: 500;
}

.left{
  font-weight: 600;
  color: #2f384a;
}

.SocialMedia{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.SocialMedia.Github{
  margin: 5px;
  padding: 5px;
}

.SocialMedia.Mail{
  margin: 5px;
  padding: 5px;
}

.SocialMedia.Linkedin{
  margin: 5px;
  padding: 5px;
}

.Roles {
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 1rem;
  color: #ffffff;
}

.about{
  font-size: xx-large;
  text-align: center;
}

.prog_lang{
  font-size: larger;
  /* text-align: left; */
}

.languages{
  font-size : small;
}

.other{
  font-size: larger;
}

.other_skills{
  font-size: small;
}

.skills{
  font-size: xx-large;
  text-align: center;
}

.languages li::before{
  display : inline-block;
  content: "\2022";
  color:#ffffff;
  width: 1em;
}

.other_skills li::before{
  display: inline-block;
  content: "\2022";
  color:#ffffff;
  width: 1em;
}

.Name {
  margin:0;
  font-size:3rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.App-link {
  color: #09d3ac;
}
