* {
  box-sizing: inherit;
  background-color: #2f384a;
  color: #ffffff
}
.App {
  text-align: center;
  padding:70px
}

.right{
  font-weight: 500;
}

.left{
  font-weight: 700;
  color: #2f384a
}

.SocialMedia{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.SocialMedia.Github{
  margin: 5px;
  padding: 5px;
}

.SocialMedia.Mail{
  margin: 5px;
  padding: 5px;
}

.SocialMedia.Linkedin{
  margin: 5px;
  padding: 5px;
}

.Roles {
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 1rem;
  color: #ffffff;
}

.Name {
  margin:0;
  font-size:3rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.App-link {
  color: #09d3ac;
}
